body {
  background-color: blue;
}
#calculatorContainer {
  background-color: #f5f5f0;
  align-items: center;
  width: 400px;
  height: 300px;
  text-align: center;
  position: relative;
  margin: 150px;
  border: 1px solid;
  border-radius: 0 0 20px 20px;
}

h2 {
  background-color: white;
  font-size: 26px;
}

#mainContainer,
input {
  display: flex;
  color: lightblue;
}

.inputDetails {
  width: 125px;
  display: inline-block;
  margin: 10px;
}

input {
  margin: 0 0 100 100;
  border: 1px solid lightblue;
}

.inputDetails input[type="text"] {
  margin-bottom: 10px;
  width: 100px; /* Adjust as needed */
  padding: 5px;
}
button {
  color: white;
  background-color: blue;
  cursor: pointer;
  font-size: 20px;
}

#mainContainer {
  display: flex;
  justify-content: center;
}
